<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hepo.c2c.social.govern.mall.mapper.FollowMapper">
  <resultMap id="BaseResultMap" type="com.hepo.c2c.social.govern.mall.domain.Follow">
    <!--@mbg.generated-->
    <!--@Table tb_follow-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="follow_user_id" jdbcType="BIGINT" property="followUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, follow_user_id, create_time
  </sql>
</mapper>