<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hepo.c2c.social.govern.mall.mapper.SeckillVoucherMapper">
  <resultMap id="BaseResultMap" type="com.hepo.c2c.social.govern.mall.domain.SeckillVoucher">
    <!--@mbg.generated-->
    <!--@Table tb_seckill_voucher-->
    <id column="voucher_id" jdbcType="BIGINT" property="voucherId" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    voucher_id, stock, create_time, begin_time, end_time, update_time
  </sql>
</mapper>